.Events{
    header{
        width: 100vw;
        height: 70vh;
        min-height: 400px;
        .background{
            background: url("./media/background.jpg");
            background-position: center;
            background-position-y: 100%;
            filter: brightness(0.5);
            @media screen and(max-width: 1000px){
                background-position-y: -50px;
            }
        }
    }
}