
$boxShadow: -1px 0px 15px 0px rgba(0,0,0,0.52);

.Home{
    width: 100vw;
    header{
        position: relative;
        width: 100%;
        min-height: 400px;
        height: 100vh;
        box-sizing: border-box;
        display: grid;
        align-items: center;

        
        .temp-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: -1;
        }

        img{
            width: 30%;
            height: auto;
            margin-left: 60px;
            min-width: 400px;

            @media screen and (max-width: 500px){
                width: 300px;
                min-width: unset;
                margin-left: unset;
                justify-self: center;
                align-self: flex-end;
            }


        }

        
    }

    .ServicePresentation{
        position: relative;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0 70px 0;
        .title{
            margin-top: -100px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 0;
            }
            img{
                width: 120px;
            }
        }

        .wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


        .ServiceBox{
            width: 220px;
            margin: 10px;
            text-align: center;
            padding: 50px 15px 50px 15px;
            background-color: white;
            border: solid black 1px;
            transition: border 300ms, box-shadow 300ms, opacity 300ms, transform 800ms !important;

            svg{
                width: 50px;
                height: 50px;
                fill: grey;
                transition: fill 300ms, transform 300ms;
            }

            svg:hover{
                transform: scale(1.1);
                fill: lightgreen;
            }
        }

        .ServiceBox:hover{
            border: solid lightgreen 1px;
            box-shadow: $boxShadow;
            -webkit-box-shadow: $boxShadow;

        }


        .skew-1, .skew{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 200px;
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        }

        .skew-1{
            bottom: 0;
            left: 0;
            transform: skewX(-2deg) rotate(-2deg);
            transform-origin: top right;
        }

        .skew{
            top: 0;
            left: 0;
            transform-origin: top right;
            transform: skewX(2deg) rotate(2deg) ;
        }
    }

    .AuthorPresentation{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0 100px 0;
        width: 100%;
        position: relative;
        @media screen and (max-width: 1020px){
            flex-direction: column;
            padding: 25px 0 100px 0;
            >div:nth-child(2){
                flex-direction: column;
            }
        }
        >div:nth-child(1){
            display: none;
            @media screen and (max-width: 1020px){
                display: block;
                margin-bottom: 50px;
                h2{
                    margin-bottom: 0;
                }

            }
        }

        >div:nth-child(2){
            display: flex;
            width: 90%;
            position: relative;

            @media screen and (max-width: 1020px){
                flex-direction: column-reverse;
            }
            
            >img{
                height: 25vw;
                width: auto;
                -webkit-box-shadow: $boxShadow; 
                box-shadow: $boxShadow;
                align-self: center;
                @media screen and (max-width: 1020px){
                    height: 50vw;
                    margin-bottom: 50px;
                }
            }

            

            >div{
                div{
                    @media screen and (max-width: 1020px){
                        display: none;
                    }
                    h2{
                      
                        margin-bottom: 20px;
                    }
                    padding-bottom: 30px;
                }

                p{
                    margin-left: 50px;
                    span{
                        text-decoration: underline;
                        margin-left: 5px;
                        color: black;
                    }
                    span:hover{
                        cursor: pointer;
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 160px;

                @media screen and (max-width: 1020px){
                    padding-right: unset;
                    p{
                        margin-left: unset;
                        text-align: center;
                    }
                }

            }
        }

        

    }


    .PortfolioPresentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 950px;

        @media screen and (max-width: 1020px){
            height: auto;
        }

        .portfolio-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                position: relative;
                top: -70px;

                width: 120px;
            }

        }
        .wrapper{
            display: flex;
            flex-direction: row;
            position: relative;
            top: -70px;

            @media screen and (max-width: 1020px) {
                flex-direction: column;
                
            }



            

            >div{
                display: flex;
                flex-direction: column;
                padding: 50px;



                img{
                    height: 500px;
                    width: auto;
                    -webkit-box-shadow: $boxShadow; 
                    box-shadow: $boxShadow;
                    @media screen and(max-width: 1250px){
                        height: 400px;
                    }

                    
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.05) !important;
                }

                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    
                    
                    .portfolio-divider{
                        position: relative;
                        width: 100px;
                        height: 1px;
                        border-top: solid black 1px;

                    }
                }


                


            }
            >div:nth-child(2){
                @media screen and(max-width: 1020px){
                    flex-direction: column-reverse;
                    
                }
                img{
                    position: relative;
                    top: 20px;
                    @media screen and (max-width: 1020px) {
                        top: 50px;
                        
                    }
                    
                }
                .portfolio-divider{
                    bottom: 10px;
                    @media screen and (max-width: 1020px) {
                        bottom: -10px;
                        
                    }
                }
                >div{
                    top: 70px;
                    @media screen and (max-width: 1020px){
                        flex-direction: column-reverse;
                        top: 0px;
                    }
                }

            }

            >div:nth-child(1), >div:nth-child(3){
                img{
                    position: relative;
                    bottom: -50px;
                }

                .portfolio-divider{
                    top: 10px;
                }


            }
        }
    }

}