
$boxShadow: -1px 0px 15px 0px rgba(0,0,0,0.52);

.Home{
    width: 100vw;
    header{
        position: relative;
        width: 100%;
        min-height: 400px;
        height: 100vh;
        box-sizing: border-box;
        display: grid;
        .temp-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: -1;

        }

        img{
            width: 30%;
            height: auto;
            margin-left: 60px;
            min-width: 400px;



        }

        
    }

    .ServicePresentation{
        position: relative;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        margin-top: 20px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            margin-top: -100px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 0;
            }
            img{
                width: 120px;
            }
        }

        .wrapper{
            display: flex;
        }

        input{
      
        }

        .ServiceBox{
            width: 220px;
            margin: 10px;
            text-align: center;
            padding: 50px 15px 50px 15px;
            background-color: white;
            border: solid black 1px;
            transition: border 300ms, transform 800ms, box-shadow 300ms, opacity 300ms !important;
            svg{
                font-size: 3em;
                fill: grey;
                transition: fill 300ms, transform 300ms;
            }

            svg:hover{
                transform: scale(1.1);
                fill: lightgreen;
            }
        }

        .ServiceBox:hover{
            border: solid lightgreen 1px;
            box-shadow: $boxShadow;
            -webkit-box-shadow: $boxShadow;

        }



        .skew{
            position: absolute;
            z-index: -1;
            width: 100%;
            top: 0;
            left: 0;
            height: 200px;
            transform: skewX(2deg) rotate(2deg) ;
            transform-origin: top right;
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        }
    }

    .AuthorPresentation{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0 100px 0;
        width: 100%;
        position: relative;

        >div{
            display: flex;
            width: 90%;
            position: relative;
            >img{
                height: 25vw;
                width: auto;
                -webkit-box-shadow: $boxShadow; 
                box-shadow: $boxShadow;
                align-self: center;
            }

            >div{
                div{
                    h2{
                      
                        margin-bottom: 20px;
                    }
                    padding-bottom: 30px;
                }

                p{
                    margin-left: 50px;
                    span{
                        text-decoration: underline;
                        margin-left: 5px;
                        color: black;
                    }
                    span:hover{
                        cursor: pointer;
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 160px;

            }
        }

        

    }


    .PortfolioPresentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 950px;
        .portfolio-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                position: relative;
                top: -70px;

                width: 120px;
            }

        }
        .wrapper{
            display: flex;
            flex-direction: row;
            position: relative;
            top: -70px;


            >div{
                display: flex;
                flex-direction: column;
                padding: 50px;

                img{
                    height: 500px;
                    width: auto;
                    -webkit-box-shadow: $boxShadow; 
                    box-shadow: $boxShadow;
                    
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.05) !important;
                }

                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    
                    
                    .portfolio-divider{
                        position: relative;
                        width: 100px;
                        height: 1px;
                        border-top: solid black 1px;

                    }
                }


                


            }
            >div:nth-child(2){
                img{
                    position: relative;
                    top: 20px;
                    
                }
                .portfolio-divider{
                    bottom: 10px;
                }
                >div{
                    top: 70px;
                }

            }

            >div:nth-child(1), >div:nth-child(3){
                img{
                    position: relative;
                    bottom: -50px;
                }

                .portfolio-divider{
                    top: 10px;
                }


            }
        }
    }

}