.Gallery{
    width: 100%;
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    .LightBox{
        position: fixed;
        outline: none;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.897);
        display: flex;
        opacity: 0;
        z-index: 3;
        transition: opacity 500ms;
        padding: 7%;
        .close-button{
            border-radius: 100%;
            padding: 6px;
            order: 4;
            position: absolute;
            top: 30px; 
            right: 30px;
            transition: transform 300ms;
            z-index: 4;
            svg{
                fill: white;
                font-size: 2em;
                transition: fill 300ms;
            }
        }

        .prev-button, .next-button{
            z-index: 4;
            transition: transform 300ms;
            svg{
                fill: white;
                font-size: 2.5em;
            }
        }

        .next-button:hover{
            transform: scale(1.2);
        }

        .prev-button:hover{
            transform: rotate(180deg) scale(1.2);
        }

        .prev-button{
            transform: rotate(180deg);
            justify-self: flex-start;
            order: 1;
        }
        .next-button{
            justify-self: flex-end;
            order: 3;
        }

        .close-button:hover{
            transform: rotate(180deg);
            svg{
                fill: orangered;
            }
        }
        .image-wrapper{
            position: relative;
            order: 2;
            height: 100%;
            overflow: hidden;
            display: grid;
            align-items: center;
            justify-content: center;
            img{
                height: 100%;
                width: auto;
                user-select: none;
                transition: opacity 800ms;
                @media screen and (orientation: portrait){
                    width: 100%;
                    height: auto;
                }
                @media screen and (orientation: landscape) {
                    height: 100%;
                    width: auto;
                    
                }
            }
        }
    }
    .image-wrapper{
        overflow: hidden;
        position: relative;
        flex: auto;
        padding: 3px;


        .title{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.39);
            opacity: 0;
            transition: opacity 300ms;
            border: solid white 3px;
            box-sizing: border-box;
            p{
                color: white;
                font-style: italic;
            }
        }

        
    }

    .image-wrapper:hover{
        .title{
            opacity: 1;
        }
    }
}

