.References{
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .skew{
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: skew(2deg, 0) rotate(2deg);
        transform-origin: left;
        background-color: white;
        z-index: -1;
    }
    p{
        color: black;
    }
    >div{
        display: flex;
        flex-direction: column;
        width: 1100px;
        @media screen and (max-width: 1100px){
            width: 100%;
        }
        div:nth-of-type(1){
            margin-left: 50px;
            h2{
                margin-bottom: 10px;
            }
        }
        div:nth-of-type(2){
            padding: 0 50px 0 50px;
            display: flex;
            @media screen and (max-width: 800px){
                flex-direction: column;
            }
            @media screen and (max-width: 500px){
                padding: 0 10px 0 10px;
            }
            ul{
                flex: 1;

            }

            ul:nth-of-type(1){
                li{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                @media screen and (max-width: 800px){
                    li:nth-of-type(3){
                        margin-bottom: 0;
                    }
                    
                }
            }

            ul:nth-of-type(2){
                li:nth-of-type(1), li:nth-of-type(2){
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                @media screen and (max-width: 800px){
                    li:nth-of-type(1){
                        margin-top: 0;
                    }
                }

                li:nth-of-type(3){
                    margin-top: 50px;
                }

                li:nth-of-type(3), li:nth-of-type(4){
                    p{
                        color: rgb(167, 120, 33);
                    }
                }
            }
        }

    }
}