footer{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("./footer-min.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -3;
        filter: brightness(60%);


    }

    >p{
        width: 100%;
        text-align: center;
        margin: 0;
        padding-bottom: 30px;
        font-style: italic;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9374124649859944) 56%, rgba(0,0,0,0) 100%);
        box-sizing: border-box;
        @media screen and (max-width: 1020px){
            font-size: 0.8em;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;

            
        }
        span{
            text-decoration: underline;
        }
        span:hover{
            cursor: pointer;
        }

    }
    >div{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        @media screen and (max-width: 1020px){
            display: flex;
            flex-direction: column-reverse;
            span{
                margin-bottom: 25px;
            }
        }

        img{
            width: 25vw;
            height: auto;
            @media screen and (max-width: 1020px){
                width: 50vw;
            }
        }

        .black-signature{
            display: none;
        }


        /*span{
            display: flex;
            position: relative;
            p{
                color: white !important;
                text-decoration: underline;
                padding: 0 5px 0 5px;
            }
            p:hover{
                cursor: pointer;
            }


            em{
                position: absolute;
                opacity: 0;
                bottom: -40px;
                border: solid white 1px;
                padding: 10px;
                background-color: rgba(32, 30, 30, 0.836);
                transition: opacity 300ms;

            }
            em:hover{
                cursor: default;
            }
        }*/

        
        
        div{
            margin: 0 80px 0 80px;
            display: flex;
            justify-content: center;
            svg{
                fill: white;
                font-size: 2.5em;
                transition: fill 300ms, transform 300ms;
            }

            a svg:hover{
                transform: scale(1.1);
            }

            a:nth-child(1) svg{
                margin-right: 10px;
            }

            a:nth-child(1) svg:hover{
                fill: lightblue;
            }

            
            a:nth-child(2) svg{
                margin-left: 10px;
                margin-right: 20px;
            }

            a:nth-child(2) svg:hover{
                fill: lightcoral;
            }

            a:nth-child(3) svg:hover{
                fill: lightgreen;
            }
        }
    }
}

.author-footer{
    padding-top: 200px;
    @media screen and (max-width: 500px){
        padding-top: 300px;
        .background{
            background-position-y: -400px ;
        }

    }
    .background{
        background: url("./footer-2-min.jpg") no-repeat;
        background-position-y: 70%;
        background-size: cover;
        background-position-x: center;
        filter: none;
        
    }
}

.france-footer, .antilles-footer, .reunion-footer, .canada-footer, .etienne-footer, .melodie-footer, .confluence-footer, .annaAndJonathan-footer, .claire-footer, .airStep-footer, .loveMe-footer{
    color: black;
    .background{
        background: none;
    }
    >div{
        span{
            p{
                color: black !important;
            }
        }

        .black-signature{
            display: block;
        }
        .white-signature{
            display: none;
        }
        div{
            svg{
                fill: black;
            }
        }
    }

    p{
        background: none;
    }
}
