body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html{
  overflow-x: hidden;
}

h2{
  font-family: "Ruthie", cursive;
  font-weight: 200;
  font-size: 3.5em;
}

.button{
   border: none;
   margin-top: 50px;
   background-color: rgb(90, 85, 85);
   color: white;
   padding: 10px 20px 10px 20px;
   text-shadow: 2px 2px 4px #000000;
   transition: background-color 300ms;

}

.button:hover{
  background-color: black;
}

h3, .button{
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9em;
}

h3{
  letter-spacing: 0.3em;
}

.general-text{
  font-family: "Libre Baskerville", serif;
  color: rgb(90, 86, 86);
  font-size: 0.82em;
  letter-spacing: 0.1em;
  line-height: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}