

nav{

    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
    position: absolute;
    
    @media screen and (max-width: 500px){
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    >div{
        background-color: black;
        padding: 0 10px 5px 10px;
        margin-top: 15px;
        border-radius: 5px;
        width: 33px;
        display: none;
        @media screen and (max-width: 500px){
            display: block;
        }
        svg{
            font-size: 2em;
            fill: white;
            margin-top: 7px;
        }

    }

    .underline{
        position: relative;
        top: -5px;
        width: 120%;
        height: 1px;
        border-top: solid white 1px;
        position: relative;
        left: -10%;
        transform: scaleX(0);
        transition: transform 200ms;

    }

   
        

    >ul{
        list-style: none;
        color: white;
        display: flex;
        justify-content: space-between;
        padding-inline-start: 0;
        width: 380px;
        transition: opacity 300ms;

        @media screen and (max-width: 500px){
            flex-direction: column;
            align-items: center;
            width: 100vw;
            background-color: rgba(29, 26, 26, 0.87);



        }


    
        @media screen and (max-width: 500px){

            >li:nth-child(1){
                margin-top: 10px;

            }
 
        }

           

        
        >li{

            @media screen and (min-width: 501px){
                div:hover{
                    cursor: pointer;
                    .underline{
                        transform: scaleX(1);
                    }

                }
            }
        
            

            >div{
                p{
                    font-family: "Open Sans", sans-serif;
                    font-size: 0.9em;
                    letter-spacing: 0.05em;
                }
            }

            p{
                margin-block-start: 0;
                padding: 5px;
            }

            

            >p{
                text-align: center;
            }

        }







        > li:nth-child(2){
            box-sizing: border-box;
            position: relative;
            @media screen and (max-width: 500px){
                width: 100%;
                text-align: center;
                p{
                    margin-bottom: -10px;
                }
            }

            ul{
                position: relative;
                top: -10px;
                border-radius: 2px;
                list-style: none;
                overflow: hidden;
                opacity: 0;
                padding-inline-start: 0;
                margin-top: 20px;
                background-color: rgba(63, 55, 55, 0.61);
                transition: opacity 300ms, height 300ms;
                padding: 0 5px 10px 5px;
                width: 110%;
                @media screen and (max-width: 500px){
                    background-color: rgba(0, 0, 0, 0.89);
                    width: 100%;
                    padding: 0;
                }
                li{

                    p{
                        margin-block-end: 0;
                        padding: 10px 5px 10px 5px;
                        font-family: "Open Sans";
                        font-style: italic;
                        font-size: 0.9em;
                        letter-spacing: 0.1em;
                        @media screen and (max-width: 500px){
                            padding: 10px 0 10px 0;
                        }
                    }
                }
                li:hover{
                    cursor: pointer;
                }
            }
        }

    }

}

@media screen and (max-width: 500px){
    
    .author-nav, .naturalism-nav, .france-nav, .reunion-nav, .canada-nav, .antilles-nav{
        >div{
            align-self: flex-end;
            margin-right: 20px;
        }
    }


}